<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>GuestBook</title>
    
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <div class="first">
    <h1>GuestBook - Pustite nam sporočilo</h1>
    <form action="/results" method="post">
        <p>Ime in priimek:</p><input name="ime">
        <br>
        <p>E-mail:</p><input name="email">
        <br>
        <p>Sporočilo:</p><textarea name="vnos" required></textarea>
        <br>
        <button type="submit">OK</button>
    </form>
    </div>
</body>
</html>