<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Urejanje sporočila</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <h1>Urejanje sporočila</h1>
    
    <div class="first">
    <form action="/message/{{ guestbook.key.id() }}/edit" method="post">
            <p>Ime in priimek:</p><input name="ime" value="{{ guestbook.ime }}">
            <br>
            <p>E-mail:</p><input name="email" value="{{ guestbook.email }}">
            <br>
            <p>Sporočilo:</p><textarea name="vnos" required>{{ guestbook.vnos }}</textarea>

            <button type="submit">Potrdi</button>
    </form>
    </div>
</body>
</html>